<div class="container">
  <h2>This is a blog.<br>You know what a blog does.<br>Don't make me explain it.</h2>

  <p>yo Adrian</p>

  {{#link-to 'contact'}}Contact{{/link-to}}
  {{#link-to 'index'}}Home{{/link-to}}
</div>
