<div class="container">  
  <h1>Contact Us:</h1>

  <p>
    blog mcbloggerson
    4389 NS 427th Blvd.
    Blogsville, BG 99840
  </p>

  <p>
    leavemealone@dontemailme.com
  </p>

  {{#link-to 'about'}}About{{/link-to}}
  {{#link-to 'index'}}Home{{/link-to}}
</div>
